body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    /* min-width: 100px; */
}

.header {
    text-align: center;
    font-size: 1.75em;
}

.wrapper {
    display: grid;
    padding: 0 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;


}

@media screen and (max-width: 767px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width:768px) and (max-width: 991px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .sushiAllscreen {
        grid-column: 1 / span 2;
    }

}

.meel {
    position: relative;
    padding: 35px 5px 5px;
    border: solid 1px black;
    background: #999999;


}

.meel__header {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 120px;
    padding: 5px;
    font-size: 1.25em;

    margin: 0;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}

.chicken {
    background-color: #D59898;
}

.beef {
    background-color: #C14543;
}

.sushi {
    background-color: #E5D198;
}



.meel__text {
    margin: 0;

}